{% extends'baseAdmin.html.twig' %}

{% block headF %}
<div style="margin-left: 550px">
    <h1>Activite edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    <a> <input class="mb-2 mr-2 btn btn-alternate" type="submit" value="Edit" /> </a>
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a class="mb-2 mr-2 btn btn-success" href="{{ path('activite_show', { 'id': activite.id }) }}">Retour</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <a> <input class="mb-2 mr-2 btn btn-danger" type="submit" value="Delete" /> </a>
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
{% endblock %}
