{% extends 'baseAdmin.html.twig' %}
{% block headF %}
    <div class="row">
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-midnight-bloom">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Total Orders</div>
                        <div class="widget-subheading">Last year expenses</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>1896</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-arielle-smile">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Clients</div>
                        <div class="widget-subheading">Total Clients Profit</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>$ 568</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-grow-early">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Followers</div>
                        <div class="widget-subheading">People Interested</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>46%</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-xl-none d-lg-block col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-premium-dark">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Products Sold</div>
                        <div class="widget-subheading">Revenue streams</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-warning"><span>$14M</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <center>
        <h1> Recherher un Enfant par nom </h1>

        <form method="POST">
            <input type="text" name="nom">
            <input type="submit" name="rechercher">

        </form>
        <h1> Enfant</h1>

        <table border="1" id="myTable">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ enfant.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ enfant.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ enfant.prenom }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ enfant.sexe }}</td>
            </tr>
            <tr>
                <th>Lieunaissance</th>
                <td>{{ enfant.lieuNaissance }}</td>
            </tr>
            <tr>
                <th>Datenaissance</th>
                <td>{% if enfant.dateNaissance %}{{ enfant.dateNaissance|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Medecin</th>
                <td>{{ enfant.medecin }}</td>
            </tr>
            <tr>
                <th>Medecinnumero</th>
                <td>{{ enfant.medecinNumero }}</td>
            </tr>

            <tr>
                <th>Classe</th>
                <td>{{ enfant.idClasse }}</td>
            </tr>
            </tbody>
        </table>


    </center>

{% endblock %}
